.CoursePage {
    background: var(--bg-base);
    width: 100%;
    min-height: 100vh;
    display: flex;
}

.userPanel {
    position: relative;
    background: var(--bg-secondary);
    flex: 1 0 auto;
    display: flex;
    padding: 4rem 1rem 1rem 4rem;
}

.contentPanel {
    position: relative;
    background: var(--bg-base);
    height: 100vh;
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    user-select: none;
}