.Layout {
    min-height: 100vh;
}
.top {
    position: fixed;
    height: 5rem;
    z-index: 997;
    left: 0;
    right: 0;
    width: 100%;
    padding: 0 2rem;
    background: var(--dark-darker);
    display: flex;
    align-items: center;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.02),
    0 0 2px rgba(0, 0, 0, 0.05),
    0 1px 4px rgba(0, 0, 0, 0.08);
    .topLogo {
        font-size: 1.5rem;
        font-weight: 500;
        width: 300px;
        border-radius: 12px;
        display: flex;
        align-items: center;
        color: var(--el-primary-green-l);
        gap: 1rem;
        img {
            height: 2.5rem;
            margin-right: .5rem;
        }
    }
    .topButton {
        margin-left: 2rem;
        font-size: 2rem;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        &:hover {
            background-color: var(--dark-base);
        }
    }
    .topMenu {
        margin: 0 0 0 auto;
        padding: 0;
        list-style: none;
        display: flex;
        align-items: center;
        gap: 1.5rem;
        .icon {
            color: var(--el-primary-green-d);
            transition: .3s ease;
            &:hover {
                color: var(--el-primary-green-l);
            }
        }
    }
}

.Burger {
    font-size: 1.5rem;
    &:hover {
        background-color: var(--dark-lighter);
    }
}
.sidebar {
    position: fixed;
    width: 300px;
    height: calc(100vh - 9rem);
    z-index: 999;
    overflow-y: auto;
    user-select: none;
    top: 7rem;
    left: 2rem;
    transition: transform .2s, left .2s;
    background-color: var(--bg-secondary);
    border-radius: 12px;
    padding: 0.5rem 1.5rem;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.02),
    0 0 2px rgba(0, 0, 0, 0.05),
    0 1px 4px rgba(0, 0, 0, 0.08);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .logout {
        padding: 0.75rem 1rem;
        display: flex;
        align-items: center;
        gap: 1rem;
        font-size: 1.2rem;
        margin-bottom: 1.5rem;
        cursor: pointer;
        border-radius: 12px;
        user-select: none;
        transition: background-color 0.2s, box-shadow 0.2s;
        &:hover {
            background-color: var(--dark-base);
        }
    }
}
.isShowBar {
    transform: translateX(-100%);
    left: 0;
}
.mainContainer {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
    padding: 7rem 2rem 2rem 4rem;
    transition: margin-left 0.2s;
    margin-left: 300px;
    .main {
        flex: 1 1 auto;
        padding: 0.5rem;
    }
    .footer {
        transition: margin-left 0.2s;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: .5rem;
        padding-top: 1rem;
        border-top: 1px solid var(--dark-darker);
        font-size: 1.2rem;
        font-weight: 400;
        border-radius: 12px;
        img {
            height: 2.5rem;
            margin-right: .5rem;
        }
    }
}
.isFull {
    margin-left: 0;
    padding-left: 2rem;
}
