.Button {
    color: var(--fg-main);
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border-radius: 5px;
    transition: .2s;
}
.clear {
    padding: 0;
    border-radius: 0;
}
.primary {
    background: var(--el-primary-blue);

    &:hover {
        background: var(--el-primary-blue-d);
    }
}

.success {
    background: var(--el-primary-green);

    &:hover {
        background: var(--el-primary-green-l);
    }
}

.disable {
    background: var(--dark-lighter);
    &:hover {
        background: var(--dark-lighter);
    }
}
