table {
    width: 100%;
    border-collapse: collapse;
    thead {
        tr {
            th {
                padding:.5rem 1rem;
                background: var(--bg-color);
                text-align: left;
            }
            th:first-child {
                width: 5%;
            }
            th:nth-child(2) {
                width: 45%;
            }
        }
    }
    tbody {
        tr {
            td {
                padding: .5rem 1rem;
                border-bottom: 1px solid var(--bg-color);
            }
            &:hover {
                background: var(--dark-base);
            }
        }
    }
}