.wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.loader {
    width: 20px;
    height: 20px;
    position: relative;
    --c:no-repeat linear-gradient(var(--el-primary-green) 0 0, var(--el-primary-green));
    background:
            var(--c) center/100% 5px,
            var(--c) center/5px 100%;
}
.loader:before {
    content:'';
    position: absolute;
    inset: 0;
    background:
            var(--c) 0    0,
            var(--c) 100% 0,
            var(--c) 0    100%,
            var(--c) 100% 100%;
    background-size: 10px 10px;
    animation: l16 1.5s infinite cubic-bezier(0.3,1,0,1);
}
@keyframes l16 {
    33%  {inset:-5px;transform: rotate(0deg)}
    66%  {inset:-5px;transform: rotate(90deg)}
    100% {inset:0    ;transform: rotate(90deg)}
}