spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/diploma
    username: nadezhda
    password: '0000'
    driver-class-name: org.postgresql.Driver
  mail:
    host: smtp.gmail.com
    port: 465
    username: nadyushka.likhanova2015@gmail.com
    password: mmxahpilzudcmmdj
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
          ssl:
            enable: true
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database: postgresql
    database-platform: org.hibernate.dialect.PostgreSQLDialect

